[Unit]
Description=Gunicorn server for SITENANE

[Service]
Restart=on-failure
User=yy
WorkingDirectory=/home/yy/sites/SITENANE/source
ExecStart=/home/yyy/sites/SITENANE/virtualenv/bin/gunicorn --bind unix:/tmp/SITENANE.socket notes.wsgi:application

[Install]
MantedBy=multi-user.target
